.featured{
    flex: 3;
    box-shadow: 2px 4px 10px 1px rgba(87, 84, 84, 0.47);
    padding: 10px;
    background-color: rgb(0, 0, 0);
    background-color: linear-gradient(58deg, rgb(10, 2, 15) 0%, rgb(15, 43, 35) 50%, rgb(255, 253, 249) 100%);
    color:white;
    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: gray;
        .title{
            font-size: 16px;
            font-weight: 500;
        }
    }
    .bottom{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .featuredChart{
        width: 150px;
        height: 150px;
    }
    .title{
        font-weight: 500;
        color: grey;
    }
    .amount{
        font-size: 30px;
    }
    .desc{
        font-weight: 300;
        font-size: 12px;
        color: gray;
        text-align: center;
    }
    .summary{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .item{
            text-align: center;
        }
        .itemTitle{
            font-size: 14px;
            color: grey;
        }
        .itemResult{
            display: flex;
            align-items: center;
            margin-top: 10px;
            font-size: 14px;
            .resultAmount{
                font-weight: bold;
            }

            &.positive{
                color: green;
            }
            &.negative{
                color: red;
            }
        }
    }
    transition: all 0.8s ease;
    cursor: pointer;
    &:hover{
        background-color: aquamarine;
        color: black;
    }
}