.sidebar{
   flex: 1; 
   
   .top{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo{
        font-size: 20px;
        font-weight: bold;
        color: navy;
    }
   }
   hr{
    height: 0px;
    border: 0.5px solid rgb(209, 207, 207);
   } 


   .bottom{
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption{
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #0e936b;
        margin: 5px;

        &:nth-child(1){
            background-color: whitesmoke;
        }
        &:nth-child(2){
            background-color: darkblue;
        }
    }
}   

}
.center{
    .image-container{
        img{
            width: 200px;
        }
    }
    ul{
        list-style: none;
        height: 100vh;
        padding: 10px;
        margin: 0px;

        .title{
            font-size: 14px;
            font-weight: bold;
            color:grey;
            margin-top: 15px;
            margin-bottom: 5px;
        }

        li{
            margin:20px 0px;
            width: 90%;
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
             &:hover{
            background-color: rgb(194, 250, 232);
        } 
        }
        .icon{
            font-size: 25px;
            color: #0e936b;
            margin-right: 5px;
        }

        span{
            font-size: 20px;
            font-weight: 500;
            margin-left: 10px;
            color: grey;
        }
       
    } 
    
}

